<!-- Home Page: Menu, main content with blcok buttons that link to sign in pages for microsoft products -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>  
    
        <div class="ion-page" id="main-content">
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-menu-toggle>
                  <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                  </ion-button>
                </ion-menu-toggle>
              </ion-buttons>
              <ion-title>Home</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <h1>Welcome to the O365 App Portal!</h1>
            <div></div>
             <ion-button expand="block" rel="noopener noreferrer" href="https://www.office.com/">Manage Subscription</ion-button>
             <h1></h1>
             <ion-button expand="block" color="tertiary" rel="noopener noreferrer" href="https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/log-in">Teams</ion-button>
             <ion-button expand="block" color="success"rel="noopener noreferrer" href="https://powerbi.microsoft.com/en-us/landing/signin/">Power BI</ion-button>
             <ion-button expand="block" color="danger" rel="noopener noreferrer" href="https://portal.azure.com/signin/index">Azure</ion-button>
    
          </ion-content>
        </div>
    
        